* {
  box-sizing: border-box;
}
.produk{
  background-color:#9ff863;  
  max-width: 2000px;
  height: 500px;
}
body {
  font-family: Arial;
  padding: 10px;
  background:rgb(1, 245, 22);
}

/* Header */
.header {
    color: rgb(17, 27, 26);
  padding: 30px;
  text-align: center;
  background: rgb(198, 241, 96);
  font-family:Apple Chancery;
}

.header h1 {
  font-size: 50px;
}

/* top navigation */
.topnav {
  overflow: hidden;
  background-color: rgb(42, 146, 206);
}

/* topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 700px;
  height: 500px;
  padding: 10px;
}
/* Fake image1 */
.fakeimg1 {
  background-color: #aaa;
  width: 322px;
  height: 322px;
  padding: 12 px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgba(74, 184, 192, 0.678);
  margin-top: 20px;
}

/* Responsive layout  */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
